<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Some website</title>
</head>

<body>
  <p>The site is in maintenance, please come back later</p>
  {{> footer}}
</body>

</html>