<!DOCTYPE html>
<html lang="en">
{{> head}}

<body>
  <div class="container">
    {{> header}}
    <div class="row">
      <ul>
        <li><a href="#">First</a></li>
        <li><a href="#">Second</a></li>
        <li><a href="#">Third</a></li>
      </ul>

    </div>
    {{> footer}}
  </div>
</body>

</html>